body{
margin:0;
font-family:Poppins;
background:#000;
color:white;
scroll-behavior:smooth;
}

/* EID */
.eid-banner{
text-align:center;
padding:8px;
background:#111;
color:gold;
}

/* NAV */
header{
display:flex;
justify-content:space-between;
padding:15px 30px;
border-bottom:1px solid #222;
}

nav a{
margin-left:20px;
cursor:pointer;
color:#aaa;
transition:0.3s;
}

nav a:hover{color:white;}

/* HERO */
.hero{
text-align:center;
padding:100px 20px;
opacity:0;
transform:translateY(40px);
animation:fadeUp 1s ease forwards;
}

.hero h1{font-size:40px;}
.hero p{color:#888;margin:10px 0 20px;}

.hero button{
padding:12px 30px;
border-radius:30px;
background:white;
color:black;
}

/* FEATURED */
.featured{
text-align:center;
padding:40px;
opacity:0;
transform:translateY(40px);
animation:fadeUp 1s ease forwards;
animation-delay:0.3s;
}

.featured-box{
display:inline-block;
padding:20px;
border:1px solid #333;
border-radius:15px;
transition:0.4s;
cursor:pointer;
}

.featured-box:hover{
transform:scale(1.05);
}

.featured-box img{width:220px;}

/* SEARCH */
.top-bar{text-align:center;padding:10px;}
.top-bar input{
width:70%;
padding:10px;
border-radius:10px;
border:none;
}

/* FILTER */
.filters{
display:flex;
justify-content:center;
gap:10px;
padding:10px;
}

/* PRODUCTS */
.products{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
padding:20px;
}

.product{
opacity:0;
transform:translateY(40px);
animation:fadeUp 0.6s ease forwards;
}

.product-inner{
background:#111;
padding:15px;
border-radius:15px;
border:1px solid #222;
transition:0.3s;
}

.product-inner:hover{
transform:translateY(-5px);
}

.product img{width:100%;}

/* BUTTON */
button{
padding:10px;
border:none;
border-radius:10px;
background:white;
color:black;
cursor:pointer;
}

/* ANIMATION */
@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}
